* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white !important;
  background-color: #001636 !important;
  background: url(..//fotos/_3e0c8a24-0b1b-4138-98d0-9cc619ef6680.jpg);
  background-position: center;
  background-size: cover;
  height: 120vh;
}

#exampleModal {
  backdrop-filter: blur(3px);
}
#exampleModal .modal-content {
  background-color: rgba(0, 0, 0, 0.295);
  backdrop-filter: blur(150px);
}
#exampleModal .modal-content .modal-body p {
  color: white;
  font-size: 16px;
  gap: 0 10px !important;
}
#exampleModal .modal-content .modal-body p a {
  text-decoration: none !important;
  color: white;
}
#exampleModal h1 {
  color: white;
  font-weight: 700;
}
#exampleModal .btn-close {
  background-color: red;
}
#exampleModal .modal-footer .btn {
  margin: 0px 5px;
  background-color: #00bbe0;
  background-image: linear-gradient(115deg, #00bbe0 0%, #30b3a2 100%);
  color: black;
  font-weight: 700;
  border-radius: 20px;
  padding: 2px 10px !important;
  transition: 400ms !important;
}
#exampleModal .modal-footer .btn:hover {
  transform: scale(1.04) !important;
  box-shadow: 0 0 10px #00D1FF;
}

.btn-center2 {
  display: flex;
  justify-content: center;
  margin-top: 30%;
  margin-bottom: 30%;
}
.btn-center2 a {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #00456d;
  border-radius: 50px;
  padding: 20px;
  text-decoration: none;
  align-content: center;
  font-size: 30px;
}

.navbar {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.158) !important;
  border-radius: 0 0 20px 20px;
  z-index: 999 !important;
}
.navbar .navbar-toggler {
  background-color: #00456d !important;
  box-shadow: 0 0 5px black;
  z-index: 99999;
}
.navbar .nav-link {
  color: white !important;
  font-size: 14px;
  font-weight: 500;
}
.navbar .collapse .btn {
  background-color: #d66f00;
  background-image: linear-gradient(135deg, #ca6800 0%, #dfa000 100%);
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.753);
  margin-left: 10px;
  transition: 300ms !important;
}
.navbar .collapse .btn:hover {
  transform: scale(1.04) !important;
  box-shadow: 0 0 10px #744b00;
}

.dropdown-menu {
  background-color: #001636 !important;
  z-index: 99999 !important;
}
.dropdown-menu .dropdown-item {
  color: white !important;
  font-size: 14px;
  font-weight: 600;
  z-index: 99999 !important;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #007566;
  border-radius: 20px;
  color: white !important;
}

#main {
  background-color: rgba(0, 0, 0, 0.671);
  backdrop-filter: blur(20px);
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px 10px;
  box-sizing: border-box;
}
#main .card-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#main .card-flex .card-block {
  width: 90%;
  background-color: #00313b;
  border-radius: 20px;
  margin: 10px auto;
}
#main .card-flex .card-block .nome {
  margin-left: 10%;
}
#main .card-flex .card-block .descricao {
  text-align: center;
}
#main .card-flex .card-block .btn-center {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#main .card-flex .card-block .btn-center a {
  display: flex;
  justify-content: center;
}

@media (min-width: 500px) {
  #main .card-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #main .card-flex .card-block {
    width: 40%;
    background-color: #00313b;
    border-radius: 20px;
    margin: 10px;
  }
  #main .card-flex .card-block .nome {
    margin-left: 10%;
  }
  #main .card-flex .card-block .descricao {
    text-align: center;
  }
  #main .card-flex .card-block .btn-center {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  #main .card-flex .card-block .btn-center a {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 990px) {
  #main {
    width: 1000px;
    margin: auto;
  }
  #main .card-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #main .card-flex .card-block {
    width: 30%;
    background-color: #00313b;
    border-radius: 20px;
    margin: 10px;
  }
  #main .card-flex .card-block .nome {
    margin-left: 10%;
  }
  #main .card-flex .card-block .descricao {
    text-align: center;
  }
  #main .card-flex .card-block .btn-center {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  #main .card-flex .card-block .btn-center a {
    display: flex;
    justify-content: center;
  }

  .btn-center2 {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .btn-center2 a {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #00456d;
    border-radius: 50px;
    padding: 20px;
    text-decoration: none;
    align-content: center;
    font-size: 30px;
    background-color: #00bbe0;
    background-image: linear-gradient(115deg, #00bbe0 0%, #30b3a2 100%);
    color: black;
    font-weight: 700;
    transition: 400ms !important;
  }
  .btn-center2 a:hover {
    transform: scale(1.1) !important;
    box-shadow: 0 0 20px #00D1FF;
  }
}

/*# sourceMappingURL=style.css.map */
